<h2>By Country</h2>
<hr />

<div class="row">
  <div class="col"></div>
  <app-country-input
    (onEnter)="search($event)"
    (onDebounce)="suggest($event)"
    placeholder="Search Country"
  ></app-country-input>
</div>
<ul class="list-group">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let country of suggestedCountries"
  >
    <a [routerLink]="['/country', country.cca2]"> {{ country.name.common }}</a>
  </li>
</ul>
<hr />
<div *ngIf="isErrored" class="alert alert-danger">No country found</div>

<div *ngIf="!isErrored" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
